@model User
<!-- FontAwesome Icons core CSS -->
<link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
<a href="/">@Model.FirstName @Model.LastName       <i class="fa fa-angle-right"></i></a>
<form method="post" asp-area="" asp-controller="Auth" asp-action="Logout">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    <input class="btn btn-danger" value="Logout" type="submit" />
</form>