@model List<string>

<ul>
    @foreach (var category in Model)
    {
        <li class="nav-item">
            <a class="nav-link color-green-hover" href="/Articles/Category/@category">@category</a>
        </li>
    }
</ul>
